@import "tailwindcss";
@import url("./assets/fonts/fontFace.css");


* {
  font-family: Vazirmatn !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1B1C1F;
  color: #1B1C1F;
  font-family: system-ui, sans-serif;
}

